<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to HyperDev!</title>
    <meta name="description" content="A cool thing made with HyperDev" />
    <link
      id="favicon"
      rel="icon"
      href="https://hyperdev.com/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./public/style.css" />
  </head>
  <body>
    <header id="header"><h1>Nasdaq Stock Price Checker</h1></header>
    <hr style="margin: 50px" />
    <div class="container">
      <div id="testui" style="margin-left: 5%">
        <h5>Get single price and total likes</h5>
        <form id="testForm2" class="">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <label
                  >Like?
                  <input
                    type="checkbox"
                    name="like"
                    value="true"
                    aria-label="Checkbox for following text input"
                /></label>
              </div>
            </div>
            <input
              type="text"
              name="stock"
              placeholder="goog"
              class="form-control"
              aria-label="Text input with checkbox"
            />
            <button type="submit" class="btn btn-info">Get Price!</button>
          </div>
        </form>
        <h5>Compare and get relative likes</h5>
        <form id="testForm" class="">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <label
                  >Like both?
                  <input
                    type="checkbox"
                    name="like"
                    value="true"
                    aria-label="Checkbox for following text input"
                /></label>
              </div>
            </div>
            <input
              type="text"
              name="stock"
              placeholder="goog"
              class="form-control"
              aria-label="Text input with checkbox"
            />
            <input
              type="text"
              name="stock"
              placeholder="msft"
              class="form-control"
              aria-label="Text input with checkbox"
            />
            <button type="submit" class="btn btn-info">Get Price!</button>
          </div>
        </form>
      </div>
      <table id="stock-table" class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col" id="likes-col">Likes</th>
          </tr>
        </thead>
        <tbody id="jsonResult">
          <tr id="row-1" class="hide">
            <th scope="row">1</th>
            <td id="stock1"></td>
            <td id="price1"></td>
            <td id="likes1"></td>
          </tr>
          <tr id="row-2" class="hide">
            <th scope="row">2</th>
            <td id="stock2"></td>
            <td id="price2"></td>
            <td id="likes2"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr style="margin: 50px; margin-top: 200px" />
    <!-- Your web-app is https, so your scripts need to be too -->
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <!--<script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script>
      $(function() {
        $("#testForm").submit(function(e) {
          $.ajax({
            url: "/api/stock-prices",
            type: "get",
            data: $("#testForm").serialize(),
            success: function(data) {
              $("#stock1").text(data.stockData[0].stock.toUpperCase());
              $("#price1").text(data.stockData[0].price);
              $("#likes1").text(data.stockData[0].rel_likes);

              $("#stock2").text(data.stockData[1].stock.toUpperCase());
              $("#price2").text(data.stockData[1].price);
              $("#likes2").text(data.stockData[1].rel_likes);

              // show both rows
              $("#row-1, #row-2").removeClass("hide");

              // change like col text
              $("#likes-col").text("Rel Likes");

              // clear inputs
              $(".form-control").val("");
              $("input[type=checkbox]").removeAttr("checked");
            }
          });
          e.preventDefault();
        });
        $("#testForm2").submit(function(e) {
          $.ajax({
            url: "/api/stock-prices",
            type: "get",
            data: $("#testForm2").serialize(),
            success: function(data) {
              $("#stock1").text(data.stockData.stock.toUpperCase());
              $("#price1").text(data.stockData.price);
              $("#likes1").text(data.stockData.likes);

              // show first row but hide second
              $("#row-1").removeClass("hide");
              $("#row-2").addClass("hide");

              // change like col back
              $("#likes-col").text("Likes");

              // clear inputs
              $(".form-control").val("");
              $("input[type=checkbox]").removeAttr("checked");
            }
          });
          e.preventDefault();
        });
      });
    </script>
  </body>
</html>
